@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hkpuxe');
  src:  url('fonts/icomoon.eot?hkpuxe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hkpuxe') format('truetype'),
    url('fonts/icomoon.woff?hkpuxe') format('woff'),
    url('fonts/icomoon.svg?hkpuxe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-columns-3:before {
  content: "\e92c";
}
.icon-microsoftteams:before {
  content: "\e92b";
  color: #6264a7;
}
.icon-ansys:before {
  content: "\e92a";
}
.icon-pencil6:before {
  content: "\e92d";
}
.icon-pen-plus:before {
  content: "\e92e";
}
.icon-headset:before {
  content: "\e949";
}
.icon-connection:before {
  content: "\e97c";
}
.icon-reset:before {
  content: "\ea4b";
}
.icon-server:before {
  content: "\ea92";
}
.icon-undo:before {
  content: "\eaa5";
}
.icon-redo:before {
  content: "\eaa6";
}
.icon-aid-kit:before {
  content: "\eb71";
}
.icon-aid-kit2:before {
  content: "\eb72";
}
.icon-menu:before {
  content: "\ec6a";
}
.icon-eye:before {
  content: "\ecae";
}
.icon-eye-plus:before {
  content: "\ecaf";
}
.icon-eye-minus:before {
  content: "\ecb0";
}
.icon-arrow-down-right2:before {
  content: "\edd7";
}
.icon-scissors3:before {
  content: "\ee86";
}
.icon-indent-increase2:before {
  content: "\eec5";
}
.icon-indent-decrease2:before {
  content: "\eec6";
}
.icon-rss:before {
  content: "\eefa";
}
.icon-rss2:before {
  content: "\eefb";
}
.icon-shield3:before {
  content: "\ec35";
}
.icon-mask2:before {
  content: "\e927";
}
.icon-vut-covid:before {
  content: "\e928";
}
.icon-vut-mask:before {
  content: "\e929";
}
.icon-camera-vut:before {
  content: "\e926";
}
.icon-vut-black .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
}
.icon-vut-black .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vut-black .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cesnet:before {
  content: "\e925";
}
.icon-logo-matlab:before {
  content: "\e91d";
}
.icon-logo-vut .path1:before {
  content: "\e91e";
  color: rgb(0, 0, 0);
}
.icon-logo-vut .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo-vut .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo-vut-lite:before {
  content: "\e921";
}
.icon-arrow-first:before {
  content: "\e91a";
}
.icon-arrow-last:before {
  content: "\e91b";
}
.icon-espis:before {
  content: "\e919";
}
.icon-user-cog:before {
  content: "\e916";
}
.icon-video-camera4:before {
  content: "\e966";
}
.icon-syringe2:before {
  content: "\eb7b";
}
.icon-appleinc:before {
  content: "\ef1d";
}
.icon-windows:before {
  content: "\ef20";
}
.icon-windows8:before {
  content: "\ef21";
}
.icon-sort:before {
  content: "\ee48";
}
.icon-calendar5:before {
  content: "\ea63";
}
.icon-office:before {
  content: "\e918";
}
.icon-file-empty1:before {
  content: "\e99f";
}
.icon-at-sign:before {
  content: "\ea2f";
}
.icon-keyboard:before {
  content: "\ea70";
}
.icon-bubble6:before {
  content: "\ead4";
}
.icon-bin:before {
  content: "\ebfd";
}
.icon-bin2:before {
  content: "\ebfe";
}
.icon-thumbs-down3:before {
  content: "\ecf9";
}
.icon-file-plus2:before {
  content: "\e9a2";
}
.icon-file-text3:before {
  content: "\e9ae";
}
.icon-eye2:before {
  content: "\ecb2";
}
.icon-eye-blocked2:before {
  content: "\ecb3";
}
.icon-pen:before {
  content: "\e91c";
}
.icon-archive1:before {
  content: "\e997";
}
.icon-stack3:before {
  content: "\e9cf";
}
.icon-folder-open1:before {
  content: "\e9df";
}
.icon-certificate:before {
  content: "\e9eb";
}
.icon-coins:before {
  content: "\ea0a";
}
.icon-cash4:before {
  content: "\ea14";
}
.icon-skype:before {
  content: "\ef24";
}
.icon-medal:before {
  content: "\eba0";
}
.icon-airplane2:before {
  content: "\ec06";
}
.icon-soccer:before {
  content: "\ec37";
}
.icon-pencil7:before {
  content: "\e914";
}
.icon-headphones:before {
  content: "\e948";
}
.icon-movie:before {
  content: "\e95d";
}
.icon-film4:before {
  content: "\e961";
}
.icon-books:before {
  content: "\e995";
}
.icon-file-empty2:before {
  content: "\e99e";
}
.icon-file-plus:before {
  content: "\e9a1";
}
.icon-file-text2:before {
  content: "\e9ad";
}
.icon-copy4:before {
  content: "\e9c8";
}
.icon-folder2:before {
  content: "\e9db";
}
.icon-folder-open:before {
  content: "\e9dc";
}
.icon-folder3:before {
  content: "\e9dd";
}
.icon-barcode:before {
  content: "\e9f6";
}
.icon-pushpin:before {
  content: "\ea36";
}
.icon-printer2:before {
  content: "\ea68";
}
.icon-floppy-disk2:before {
  content: "\ea8c";
}
.icon-disk:before {
  content: "\ea8e";
}
.icon-usb-stick:before {
  content: "\ea90";
}
.icon-bubbles2:before {
  content: "\eac6";
}
.icon-spinner11:before {
  content: "\eb2c";
}
.icon-lock2:before {
  content: "\eb51";
}
.icon-wrench:before {
  content: "\eb58";
}
.icon-lab:before {
  content: "\ebea";
}
.icon-lamp4:before {
  content: "\ebf6";
}
.icon-briefcase2:before {
  content: "\ec03";
}
.icon-target:before {
  content: "\ec2b";
}
.icon-clipboard5:before {
  content: "\ec54";
}
.icon-grid6:before {
  content: "\ec62";
}
.icon-cloud2:before {
  content: "\ec79";
}
.icon-star-full:before {
  content: "\ece2";
}
.icon-warning2:before {
  content: "\ed50";
}
.icon-question2:before {
  content: "\ed54";
}
.icon-plus2:before {
  content: "\ed5b";
}
.icon-minus2:before {
  content: "\ed5c";
}
.icon-cross:before {
  content: "\ed6c";
}
.icon-battery-6:before {
  content: "\ee54";
}
.icon-battery-0:before {
  content: "\ee5a";
}
.icon-share2:before {
  content: "\eec8";
}
.icon-terminal:before {
  content: "\eed4";
}
.icon-google:before {
  content: "\eee7";
}
.icon-google-plus2:before {
  content: "\eeeb";
}
.icon-google-drive:before {
  content: "\eeee";
}
.icon-facebook2:before {
  content: "\eef0";
}
.icon-twitter:before {
  content: "\eef5";
}
.icon-youtube:before {
  content: "\eefc";
}
.icon-dropbox:before {
  content: "\ef0d";
}
.icon-onedrive:before {
  content: "\ef0e";
}
.icon-linkedin:before {
  content: "\ef28";
}
.icon-modules1:before {
  content: "\e911";
}
.icon-modules2:before {
  content: "\e912";
}
.icon-modules3:before {
  content: "\e913";
}
.icon-modules4:before {
  content: "\e915";
}
.icon-spinner11-ext:before {
  content: "\e910";
}
.icon-plus2-ext:before {
  content: "\e90e";
}
.icon-moodle:before {
  content: "\e90d";
}
.icon-sap:before {
  content: "\e90c";
}
.icon-double-checkmark:before {
  content: "\e90a";
}
.icon-t-circle:before {
  content: "\e909";
}
.icon-apollo:before {
  content: "\e907";
}
.icon-apollo2:before {
  content: "\e908";
}
.icon-office365:before {
  content: "\e906";
}
.icon-pencil2:before {
  content: "\e90f";
}
.icon-bullhorn:before {
  content: "\e979";
}
.icon-satellite-dish2:before {
  content: "\e985";
}
.icon-archive:before {
  content: "\e996";
}
.icon-file-empty:before {
  content: "\e99d";
}
.icon-file-upload:before {
  content: "\e9a7";
}
.icon-file-picture:before {
  content: "\e9af";
}
.icon-file-picture2:before {
  content: "\e9b0";
}
.icon-file-music:before {
  content: "\e9b1";
}
.icon-file-video:before {
  content: "\e9b5";
}
.icon-file-zip:before {
  content: "\e9b9";
}
.icon-file-xml:before {
  content: "\e9bb";
}
.icon-file-css:before {
  content: "\e9bd";
}
.icon-file-presentation:before {
  content: "\e9bf";
}
.icon-folder4:before {
  content: "\e9de";
}
.icon-folder-upload3:before {
  content: "\e9e6";
}
.icon-wallet:before {
  content: "\ea10";
}
.icon-mobile2:before {
  content: "\ea79";
}
.icon-bubble-notification:before {
  content: "\eaca";
}
.icon-users4:before {
  content: "\eb0c";
}
.icon-hour-glass2:before {
  content: "\eb20";
}
.icon-lock4:before {
  content: "\eb53";
}
.icon-unlocked:before {
  content: "\eb54";
}
.icon-lamp7:before {
  content: "\ebf9";
}
.icon-lamp8:before {
  content: "\ebfa";
}
.icon-paperplane:before {
  content: "\ec09";
}
.icon-puzzle3:before {
  content: "\ec21";
}
.icon-clipboard6:before {
  content: "\ec55";
}
.icon-link:before {
  content: "\ec99";
}
.icon-thumbs-up3:before {
  content: "\ecf8";
}
.icon-stack-text:before {
  content: "\ed44";
}
.icon-info:before {
  content: "\ed63";
}
.icon-blocked:before {
  content: "\ed67";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-cross3:before {
  content: "\ed6e";
}
.icon-arrow-right2:before {
  content: "\edbc";
}
.icon-arrow-right3:before {
  content: "\edbd";
}
.icon-arrow-left2:before {
  content: "\edc4";
}
.icon-arrow-left3:before {
  content: "\edc5";
}
.icon-circle-code:before {
  content: "\eed3";
}
.icon-facebook:before {
  content: "\eeef";
}
.icon-file-pdf:before {
  content: "\ef3e";
}
.icon-file-word:before {
  content: "\ef40";
}
.icon-file-excel:before {
  content: "\ef41";
}
.icon-checkmark-circle-vut:before {
  content: "\e905";
}
.icon-search-menu:before {
  content: "\e904";
}
.icon-lang-cs:before {
  content: "\e902";
}
.icon-lang-en:before {
  content: "\e903";
}
.icon-wiki_vut:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-newspaper:before {
  content: "\e90b";
}
.icon-book3:before {
  content: "\e993";
}
.icon-library2:before {
  content: "\e999";
}
.icon-graduation:before {
  content: "\e99a";
}
.icon-file-check2:before {
  content: "\e9aa";
}
.icon-file-stats2:before {
  content: "\e9c2";
}
.icon-price-tag2:before {
  content: "\e9ee";
}
.icon-cart4:before {
  content: "\ea01";
}
.icon-piggy-bank:before {
  content: "\ea0f";
}
.icon-phone:before {
  content: "\ea1c";
}
.icon-envelop:before {
  content: "\ea30";
}
.icon-envelop2:before {
  content: "\ea31";
}
.icon-location3:before {
  content: "\ea3a";
}
.icon-compass2:before {
  content: "\ea40";
}
.icon-clock:before {
  content: "\ea4d";
}
.icon-calendar:before {
  content: "\ea5f";
}
.icon-display:before {
  content: "\ea73";
}
.icon-mobile:before {
  content: "\ea78";
}
.icon-drive:before {
  content: "\ea91";
}
.icon-database-time:before {
  content: "\eaa3";
}
.icon-bubble3:before {
  content: "\eacd";
}
.icon-user:before {
  content: "\eaf7";
}
.icon-vcard:before {
  content: "\eb11";
}
.icon-search3:before {
  content: "\eb36";
}
.icon-key:before {
  content: "\eb4a";
}
.icon-key2:before {
  content: "\eb4b";
}
.icon-cog:before {
  content: "\eb5f";
}
.icon-spoon-knife:before {
  content: "\ebbc";
}
.icon-rocket:before {
  content: "\ebdd";
}
.icon-briefcase:before {
  content: "\ec02";
}
.icon-car:before {
  content: "\ec0a";
}
.icon-bus:before {
  content: "\ec0e";
}
.icon-train2:before {
  content: "\ec13";
}
.icon-racing:before {
  content: "\ec43";
}
.icon-switch:before {
  content: "\ec4b";
}
.icon-menu7:before {
  content: "\ec71";
}
.icon-earth2:before {
  content: "\ec97";
}
.icon-bed:before {
  content: "\ecdc";
}
.icon-wondering2:before {
  content: "\ed1f";
}
.icon-notification2:before {
  content: "\ed52";
}
.icon-question5:before {
  content: "\ed57";
}
.icon-plus-circle:before {
  content: "\ed5f";
}
.icon-minus-circle:before {
  content: "\ed60";
}
.icon-info2:before {
  content: "\ed64";
}
.icon-cancel-circle:before {
  content: "\ed65";
}
.icon-exit3:before {
  content: "\ed7b";
}
.icon-arrow-up:before {
  content: "\edb7";
}
.icon-arrow-up2:before {
  content: "\edb8";
}
.icon-arrow-up3:before {
  content: "\edb9";
}
.icon-arrow-down:before {
  content: "\edbf";
}
.icon-arrow-down2:before {
  content: "\edc0";
}
.icon-arrow-down3:before {
  content: "\edc1";
}
.icon-checkmark-circle:before {
  content: "\ee76";
}
.icon-wikipedia:before {
  content: "\ef27";
}
.icon-bubble:before {
  content: "\eac4";
}
.icon-el-index:before {
  content: "\e93e";
}
.icon-individualni:before {
  content: "\e917";
}
.icon-cancel-circle2:before {
  content: "\ed66";
}
.icon-checkmark:before {
  content: "\1f5f8";
}
